<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<div align="center">
  <center>
  <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="45%" id="AutoNumber1" height="45%">
    <tr>
      <td width="100%" bgcolor="#FFFFFF">
      <p align="center"><b><font face="Verdana, arial" size="1">That Is the 
      Included Box</font></b><p align="center">
      <font face="Verdana, arial" size="1">[month]/[day]/[year]</font></td>
    </tr>
  </table>
  </center>
</div>