[CSS]
[JAVASCRIPT]
<form method="post"
      onSubmit="RM.KittenAuth.collect() ; return true;"
      action="[ACTION]">
    <input name="KittenAuthCollect" id="KittenAuthCollect" type="hidden" value="" \>
    <table class="KittenAuthTable">
        <tr class="KittenAuthTableHead">
            <td colspan="3">
                [QUESTION]
            </td>
        </tr>
<!-- replace id="row" -->
        <tr class="KittenAuthTableBody">
<!-- replace id="column[row.0]" -->
            <td>
                <img id="KittenAuth[column[row.0].0]"
                     onClick="RM.KittenAuth.click('KittenAuth[column[row.0].0]', '[column[row.0].0]');"
                     src="KittenAuth.php?image=[column[row.0].0]" />
            </td>
<!-- end replace id="column[row.0]" -->
        </tr>
<!-- end replace id="row" -->
        <tr class="KittenAuthTableFoot">
            <td colspan="3">
                <button class="KittenAuthSubmit" type="submit">
                    [COMMAND]
                </button>
            </td>
        </tr>
    </table>
</form>
